@model service_station.Models.Order

@{
    ViewBag.Title = "Delete";
}

<div class="body-content">
    <div class="container personal">
        <div class="row">
            <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3">
                @Html.ActionLink("Back to Orders", "Index", "Orders", new { id = Model.Car.CustomerId }, new { @class = "btn btn-default" })
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3">
                <div class="info">
                    <div class="info-name">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="text-center">Are you sure you want to delete this?</h3>
                            </div>
                        </div>
                    </div>
                    <div class="info-content">
                        <div class="row">
                            <div class="col-xs-3">
                                @Html.DisplayNameFor(model => model.Date):
                            </div>
                            <div class="col-xs-9">
                                @Html.DisplayFor(model => model.Date)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                @Html.DisplayNameFor(model => model.OrderAmount):
                            </div>
                            <div class="col-xs-9">
                                @Html.DisplayFor(model => model.OrderAmount)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3">
                                @Html.DisplayNameFor(model => model.OrderStatus):
                            </div>
                            <div class="col-xs-9">
                                @Html.DisplayFor(model => model.OrderStatus)
                            </div>
                        </div>
                        @*<div class="row">
                            <div class="col-xs-3">
                                @Html.DisplayNameFor(model => model.Year):
                            </div>
                            <div class="col-xs-9">
                                @Html.DisplayFor(model => model.Year)
                            </div>
                        </div>*@
                        <div class="row">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <div class="col-xs-offset-2 col-xs-10">
                                    <input type="submit" value="Delete" class="btn btn-default" />
                                </div>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>