@model service_station.Models.Order
@{
    ViewBag.Title = "Edit order";
}

<div class="body-content">
    <div class="container personal">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.CarCustomerId)
            <div class="row">
                <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3">
                    @Html.ActionLink("Back to Orders", "Index", "Orders", new { id = Model.Car.CustomerId }, new { @class = "btn btn-default" })
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3">
                    <div class="info">
                        <div class="info-name">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3 class="text-center">Add car</h3>
                                </div>
                            </div>
                        </div>
                        <div class="info-content">
                            <div class="row">
                                <div class="col-xs-3">
                                    @Html.DisplayNameFor(model => model.Car.Make):
                                </div>
                                <div class="col-xs-9">
                                    @Html.DisplayTextFor(model => model.Car.Make)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">
                                    @Html.DisplayNameFor(model => model.Car.Model):
                                </div>
                                <div class="col-xs-9">
                                    @Html.DisplayTextFor(model => model.Car.Model)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">
                                    @Html.DisplayNameFor(model => model.OrderAmount):
                                </div>
                                <div class="col-xs-9">
                                    @Html.EditorFor(model => model.OrderAmount, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.OrderAmount, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">
                                    @Html.DisplayNameFor(model => model.Date):
                                </div>
                                <div class="col-xs-9">
                                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">
                                    @Html.DisplayNameFor(model => model.OrderStatus):
                                </div>
                                <div class="col-xs-9">
                                    @Html.EnumDropDownListFor(
                                                                x => x.OrderStatus,
                                                                "Status",
                                                                new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.OrderStatus, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-offset-2 col-xs-10">
                                    <input type="submit" value="Save" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>



