@model service_station.Models.CarCustomerOrders
@{
    ViewBag.Title = "Index";
}

<div class="body-content">
    <div class="container personal">
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4 text-center">
                <h2>Orders information</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3">
                @Html.ActionLink("Back to Personal", "Personal", "Customer", new { id = Model.CustomerId}, new { @class = "btn btn-default" })
                <br />
            </div>
        </div>

        <div class="col-xs-12 col-sm-12">
            <div class="col-xs-12 info">
                <div class="col-xs-12 info-name">
                    <div class="row">
                        <div class="col-xs-7">
                            <h3 class="text-right">Orders</h3>
                        </div>
                        <div class="col-xs-5 text-right">
                            <a href="@Url.Action("Create", "Orders", new {id = Model.CustomerId})" class="btn btn-warning btn-circle"><i class="glyphicon glyphicon-plus"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 info-content">
                    @foreach (var order in Model.Orders)
            {
                        <div class="row">
                            <div class="col-xs-10">
                                <div class="row">
                                    <div class="col-xs-7">
                                        @Html.DisplayNameFor(model => model.Car.Make)/
                                        @Html.DisplayNameFor(model => model.Car.Model):
                                    </div>
                                    <div class="col-xs-5 text-right">
                                        @Html.DisplayFor(model => order.Car.Make)/
                                        @Html.DisplayFor(model => order.Car.Model)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-7">
                                        @Html.DisplayNameFor(model => model.Order.Date):
                                    </div>
                                    <div class="col-xs-5 text-right">
                                        @Html.DisplayFor(model => order.Date)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-7">
                                        @Html.DisplayNameFor(model => model.Order.OrderAmount):
                                    </div>
                                    <div class="col-xs-5 text-right">
                                        @Html.DisplayFor(model => order.OrderAmount)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-7">
                                        @Html.DisplayNameFor(model => model.Order.OrderStatus):
                                    </div>
                                    <div class="col-xs-5 text-right">
                                        @Html.DisplayFor(model => order.OrderStatus)
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <a href="@Url.Action("Edit", "Orders", new { id = order.Id })" class="btn btn-warning btn-circle"><i class="glyphicon glyphicon-pencil"></i></a>
                                <br />
                                <a href="@Url.Action("Delete", "Orders", new { id = order.Id })" class="btn btn-warning btn-circle"><i class="glyphicon glyphicon-trash"></i></a>
                                    @*<a href="@Url.Action("Add", "Orders", new {id = car.Id})" class="btn btn-warning btn-circle"><i class="glyphicon glyphicon-plus"></i></a>
                                    <br />
                                    @Html.Action("DeleteWithoutOrder", "Garage", new { id = car.Id })*@

                            </div>
                        </div>
                        <hr />
                    }
                </div>
            </div>
        </div>

    </div>



</div>



